.header {
  height: 70px;
  padding-inline: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;

  &__logo {
    font-size: 36px;
    font-weight: 700;
    transition: all 0.25s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }
}
