.btn__register {
  padding: 10px;
  width: 200px;
  font-size: 18px;
  border: 1px solid #000;
  background-color: #fff;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}
